body{

    padding: 0;
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1{
    font-weight: 700;
    font-size: 40px;
  
}
.color-highlight{
    color: #EC4C7A;
    font-size: 50px;
}
p{
    color: dimgrey;
    font-size: 15px;
    margin-bottom: 40px;
 
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;

}
.half-width img{
    width: 100%;
    margin-top: 15px;
}
.margin-top{
    margin-top: 120px;
}
section{
    height: 600px;
    padding-bottom: 130px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC5095, #ED4B73);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
}
.latest-work-img{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}
.latest-work-img img{
    width: 100%;
    height: 400px;
}
.latest-work-bg{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
}
.latest-work-bg h1{
    text-align: center;
}
.footer-bg{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
}
.footer-bg .bold{
    font-weight: 700;
    color: #202428;
}
.footer-bg p{
    font-size: 10px;
    margin: 0;
}
.programming-hero{
    background-image: linear-gradient(45deg, #FF9773, #EC4B73);
    padding: 10px 25px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 130px;
    margin-top: 70px;
}
.programming-hero p{
    color: white;
    font-weight: 500;
}
.programming-hero h4{
    color: white;
    font-weight: 700;
}





























/*.link-margin-top{
    margin-top: 30px;
}*/