body{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif; 
}
h1{
    font-weight: 600;
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    color: dimgrey;
    font-size: 15px;
    margin-bottom: 40px;
}
.color-highlight{
    color: #EC4C7A;
    font-size: 50px;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.half-width img{
    width: 100%;
    margin-top: 15px;
}
.margin-top{
    margin-top: 120px;
}
section{
    padding-bottom: 130px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, #EC5095, #ED4B73);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}
.biography-bg{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    height: 600px;
}
.latest-work-img{
    width: 29%;
    margin-left: 2%;
    margin-right: 2%;
    float: left;
}
.latest-work-img img{
    width: 100%;
}
.latest-work-bg{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    padding: 100px;
    height: 400px;
    text-align: center;
}
.footer-bg{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    height: 750px;
}
.programming-hero{
    background-image: linear-gradient(45deg, #EC4B73, #FF9773);
    padding: 10px 25px;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 100px;
    margin-top: 70px;
}
.programming-hero p{
    color: white;
    font-weight: 500;
    font-size: 16px;
}
.programming-hero h4{
    color: white;
    font-weight: 700;
    font-size: 20px;
}
.social-link{
    margin: 0 auto;
    margin-bottom: 40px;
}
.social-link img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 15px;
}
